@import "../index.sass"

.input
  // background-image: url("../assets/dollar.png") 
  // background-repeat: no-repeat
  // background-position: 6px 9px
  width: 100%
  font-size: 16px
  border-radius: 25px
  border: 1px solid $slivki
  background-color: $karamel
  color: $korica
  font-weight: 600

  outline: none
  padding: 8px 16px
  transition-duration: 0.5s
  &::placeholder
    color: $korica
    opacity: 55%
    font-size: 16px
  &:focus
    &::placeholder
      transition: 0.5s
      color: transparent
  &:hover

    transform: scale(1.05)
    cursor: pointer
  &:focus
    // transition-duration: 0.5s
    transform: scale(1.05)
    // cursor: pointer
