@import "../index"

.lists
  display: flex
  align-items: flex-start
  justify-content: space-between
  flex-wrap: wrap

  &__header
    display: flex
    justify-content: space-between
    align-items: center

  &__card

  &__buttons
    display: flex
    justify-content: space-between
    margin-bottom: 22px
  &__input
    margin-right: 14px

.add-card
  display: flex
  flex-direction: column

  &__inputs
    display: flex
    flex-direction: column
  &__buttons
    display: flex
    justify-content: space-evenly
  &__input
    margin-bottom: 16px
