@import "../index.sass"

.container
  width: 1250px
  padding: 0 15px
  margin: 0 auto

.wrapper
  width: 100%
  background-color: $karamel
  position: sticky
  top: 0px

.page-header
  display: flex
  align-items: center
  justify-content: space-between
  padding: 12px 0

  &__navigation
    display: flex
    justify-content: space-between
    align-items: center

  &__logo
    font-size: 24px

  &__balance

  &__user

  &__settings

  &__logout

  &__nav-el
    font-weight: 500
    font-size: 18px
    margin-right: 30px
    &:last-child
      margin-right: 0px

.active
  color: $perec
  position: relative
  //font-weight: 700
  &::before
    position: absolute
    content: ""
    width: 70%
    bottom: -4px
    border-bottom: 2px solid $perec
