@import "../../index.sass"

.wrapper-bottom
	display: none
	width: 100%
	background-color: $karamel
	position: fixed
	bottom: 0px
	left: 0px

@media ( max-width: 767px)
	.wrapper-bottom
		display: inline-block

.bottom-nav
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0px 45px

	&__home

	&__add

	&__settings

	&__icon
		width: 34px
		height: 34px

	&__inner
		display: flex
		align-items: center
		justify-content: center
		width: 100px
		height: 55px

.active__bottom-nav
	background-color: #AF8E55
	transform: scale(1.1)
	transition-duration: 1s

@media ( max-width: 390px)
	.bottom-nav
		padding: 0px
