
.lists
  display: flex
  align-items: flex-start
  justify-content: space-between

  &__card
    margin-bottom: 22px

  &__buttons
    display: flex
    justify-content: space-between
    margin-bottom: 22px
  &__inputs
