@import "./Reset.sass"

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap')

// Colors
$slivki:  #ebdcb2
$korica:  #662e1c
$perec:  #af4425
$karamel: #c9a66b
$korica-strong: #35150b
$red: #CC3300
$green: #339933

body
  font-family: 'Poppins', sans-serif
  color: $korica
  font-size: 16px
  background-color: $slivki
a
  text-decoration: none
  color: $korica

.container
  max-width: 1250px
  padding: 0 15px
  margin: 0 auto

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0
