@import "../../index"

.add-card-inner
	display: flex
	flex-direction: column

	&__inputs
		display: flex
		flex-direction: column
	&__buttons
		display: flex
		justify-content: space-evenly
	&__input
		margin-bottom: 16px
